.conditions-generales {
  padding: 2rem 1rem;
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.6;

  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    margin-top: 4rem;
  }

  h2 {
    font-size: 1.4rem;
    margin: 1.5rem 0 0.5rem;
  }

  p,
  ul {
    margin-bottom: 1rem;
  }

  ul {
    padding-left: 1.2rem;
    li {
      margin-bottom: 0.3rem;
    }
  }
}

.politique-confidentialite {
  padding: 2rem 1rem;
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.6;

  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    margin-top: 4rem;

  }

  h2 {
    font-size: 1.4rem;
    margin: 1.5rem 0 0.5rem;
  }

  p,
  ul {
    margin-bottom: 1rem;
  }

  ul {
    padding-left: 1.2rem;
    li {
      margin-bottom: 0.3rem;
    }
  }
}

.mentions-legales {
  padding: 2rem 1rem;
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.6;

  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    margin-top: 4rem;
  }

  h2 {
    font-size: 1.4rem;
    margin: 1.5rem 0 0.5rem;
  }

  p,
  ul {
    margin-bottom: 1rem;
  }

  ul {
    padding-left: 1.2rem;
    li {
      margin-bottom: 0.3rem;
    }
  }
}
